/* You can add global styles to this file, and also import other style files */
.avatarFrameoffline{
    background: rgba(210,255,82,1);
    background: -moz-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(113,186,44,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(113,186,44,1)));
    background: -webkit-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(113,186,44,1) 100%);
    background: -o-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(113,186,44,1) 100%);
    background: -ms-linear-gradient(top, rgba(210,255,82,1) 0%, rgba(113,186,44,1) 100%);
    background: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(113,186,44,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#71ba2c', GradientType=0 );
    text-align: center;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid white;
    display: inline-block;
}

.center{
    text-align: center !important;
}

.marto15{
    margin-top: 15px;
}

.marbo15{
    margin-bottom: 15px;
}

.generalContent{
    margin-top: 56px;
}

.btn{
    background: rgba(242,246,248,1);
    background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(50%, rgba(216,225,231,1)), color-stop(51%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
    background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );
}