
<app-menu *ngIf="router.url !='/login'"></app-menu>
<div id="homeContainer">
    <div class="whiteBorderGlassBox">
        <div class="homeHeadContainer">
            <div class="row">
                <div class="col-md-auto">
                    <div class="avatarFrameoffline">
                        <img src="assets/img/generic_avatar.png" id="homeAvatarPicture">
                    </div>
                </div>
                <div class="col" *ngIf="user">
                        <b>{{user.nick}}</b>
                        <div>
                          <span>{{user.status}}</span>
                          <br />
                          <span>{{user.email}}</span><br />
                          <b><a (click)="logout()">Logout</a></b>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="whiteContainerPadded marto15">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Buscar amigo" [(ngModel)]="query" />
            </div>
            <div class="col-md-auto">
                <img src="assets/img/logo_live_add.png" alt="" class="icon">
            </div>           
        </div>        
        <hr />
        <b *ngIf="friends">Amigos ({{friends.length}}/ {{friends.length}})</b>        
        <div *ngFor="let user of friends | search: query; let i = index" class="disblo marbo5">    
            <span routerLink="/conversation/{{user.uid}}">
                <img src="assets/img/logo_live_online.png" alt="" class="icon">
                <b>{{user.nick}}</b> - {{user.subnick || 'No subnick'}} 
                <small>{{user.email}}</small>
            </span>               
        </div>
    </div>       
</div>
